{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <script
      src="https://kit.fontawesome.com/a2499938ec.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}{% endblock  %}
    <title>{% block title %} interface {% endblock  %}</title>
  </head>
  <body>
    <header class="header">

      <div class="logo">
        <img src="{% static 'images/logo.png' %}" alt="logo" >
      </div>
      <nav class="menu">
        <ul>
          <li><a class=".nav-links" href="{% url "home" %}">Accueil </a></li>
          <li><a class=".nav-links" href=""> Restaurant </a></li>
          <li><a class=".nav-links" href=""> Cours de Cuisine </a></li>
          <li><a class=".nav-links" href="{% url "traiteur" %}">Traiteur </a></li>
          <li><a class=".nav-links" href="{% url "contact" %}">Contact</a></li>
        </ul>
      </nav>
      {% if user.is_authenticated %}
      <div class="btn-nav">
        <p>{{user.username}}</p>
        
        <form action="{% url "logout" %}" method="post">
            {% csrf_token %}
            <div class="btn-nav">

                <button class="btn-connexion"  >Deconnexion </button>
            </div>
        </form>
        
      </div>
      {% else %}
      <div class="btn-nav">
        <button class="btn-connexion"><a href="{% url "login" %}" class="btn-connexion">Connexion</a> </button>
       <button class="btn-inscription"><a href="{% url "signup" %}" class="btn-inscription">Inscription</a> </button>
        
      </div>
      {% endif %}
      <div class="burger">
        <i class="fa-solid fa-bars"></i>
      </div>
    </header>

    <main>
        {% block content %}{% endblock  %}
    </main>

    <footer>
        <div class="haut-footer">
            <div class="footer-card">
                <h4>A Propos</h4>
                <ul>
                    <li>
                        <a href="#">Qui somme nous</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a href="#">Mentions Legales</a>
                    </li>
                    <li>
                        <a href="#">Politique de confidentialite</a>
                    </li>
                </ul>
            </div>
            <div class="footer-card">
                <h4>Service</h4>
                <ul>
                    <li>
                        <a href="#">Traiteur</a>
                    </li>
                    <li>
                        <a href="#">Restaurants</a>
                    </li>
                    <li>
                        <a href="#">Cours De Cusine</a>
                    </li>
                   
                </ul>
            </div>
            <div class="footer-card">
                <h4>Espace Pro</h4>
                <ul>
                    <li>
                        <a href="#">Devenir partenaire</a>
                    </li>
                    <li>
                        <a href="#">Connexion</a>
                    </li>
                    <li>
                        <a href="#">FAQ Professionnel</a>
                    </li>
                    
                </ul>
            </div>
            <div class="footer-card">
                <h4>Contact</h4>
                <ul>
                    <li>
                        <a href="#">Star Buffet</a>
                    </li>
                    <li>
                        <a href="#">Dakar, Senegal</a>
                    </li>
                    <li>
                        <a href="#">Tel +221 77 000 00 00
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        Email: contact@starbuff.com</a>
                    </li>
                    <li class="foot-logo">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram "></i></a>

                    </li>
                    
                </ul>
            </div>

        </div>
        <div class="bas-footer">
            <p>2025 Star Buffet. Tous droits réservés.</p>
        </div>
    </footer>
  </body>
</html>
